
@model IEnumerable<SwiftSkool.MVC5.ViewModels.ResultViewModel>

@{
    ViewBag.Title = "Dashboard - Index";
}

<h2>Results Dashboard</h2>

<p>
    @Html.ActionLink(" Create", "Create", "Results", new { }, new { @class = "btn btn-success glyphicon glyphicon-list-alt" })

    @Html.ActionLink(" Sort", "Index", "ResultsDashboard", new { }, new { @class = "btn btn-success glyphicon glyphicon-sort-by-order", @id = "sort" })

    @Html.ActionLink(" Filter", "Index", "ResultsDashboard", new { }, new { @class = "btn btn-success glyphicon glyphicon-filter", @id = "filterbtn" })

    @Html.ActionLink(" Create New", "Create", "Results", new { }, new { @class = "btn btn-success" })
</p>

<p id="filtertext" style="display: none;">
    
        <input type="text" name="filter" placeholder="filter by student, CA or Subject" 
               class="form-control" id="filterinput"/>
            <input type="submit" value="Filter" class="btn btn-info glyphicon glyphicon-search" id="filtersubmit" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CA.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassAverage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CA.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CA.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassAverage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>

            <td>
                @Html.ActionLink("Details", "Details", "Results", new { id = item.ResultId }, new { @class = "btn btn-info glyphicon glyphicon-eye-open" }) |
                @Html.ActionLink("Delete", "Delete", "Results", new { id = item.ResultId }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
            </td>
        </tr>
    }

</table>

@section scripts{
    <script type="text/javascript">
        $(function () {
            
            $("#filterbtn").click(function (eve) {
                eve.preventDefault();
                $("#filtertext").toggle("slow");
            });

            //handle the filter form and send filter to relevant controller to act on ajaxly
            $("#filtersubmit").click(function (eve) {
                $.get(@Url.Action("Index","ResultDashboard"),{"filter":$("#filterinput").val()})
            })
        });
    </script>
}
