@model IEnumerable<SwiftSkool.MVC5.ViewModels.CAIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CAName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CAName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CAId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CAId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CAId })
        </td>
    </tr>
}

</table>
